<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p>Current count: <strong>{{ currentCount }}</strong></p>

<button (click)="incrementCounter()">Increment</button>
    <a [routerLink]="['/counter']">
        <span class='glyphicon glyphicon-th-list'></span> Counter
    </a>
    <a [routerLink]="['/products/car']">
        <span class='glyphicon glyphicon-th-list'></span> Products
    </a>
    <router-outlet></router-outlet>



<app-products [productCategory]="productCategory"></app-products>


