<div>
    <p>
      {{ productCategory }}
    </p>
<table class='table' *ngIf="products">
  <thead>
      <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Price</th>
          <th>PriceWithVat</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let product of products">
          <td>{{ product.number }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.price | number:'1.1-2'}}</td>
          <td>{{ product.priceWithVat | number:'1.1-2' }}</td>
          <td><button type="button" class="btn btn-info" (click)="onEdit(product)">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="onDelete(product)">Delete</button></td>
      </tr>
  </tbody>
</table>
  <div class="text-right">
    <button type="submit" class="btn btn-primary" (click)="onNew()">New</button>
  </div>

  <div *ngIf="showNew" div class="col-8">
      <form (ngSubmit)="onSave()">
              <div class="form-group row">
                <label for="name-input" class="col-2 col-form-label">Name</label>
                <div class="col-8">
                  <input class="form-control" type="text" [(ngModel)]="productModel.name" name="name">
                </div>
              </div>
              <div class="form-group row">
                      <label for="description-input" class="col-2 col-form-label">Description</label>
                      <div class="col-8">
                        <input class="form-control" type="text" [(ngModel)]="productModel.description" name="description">
                      </div>
              </div>
              <div class="form-group row">
                      <label for="category-input" class="col-2 col-form-label">Category</label>
                        <select class="col-8 form-control"  id="category"
                                required
                                [(ngModel)]="productModel.category" name="category">
                          <option *ngFor="let category of productCategories" [value]="category">{{category}}</option>
                        </select>
              </div>
              <div class="form-group row">
                      <label for="price-input" class="col-2 col-form-label">Price</label>
                      <div class="col-8">
                        <input class="form-control" type="text" [(ngModel)]="productModel.price" name="price">
                      </div>
              </div>
              <button type="submit" class="btn btn-success">{{submitType}}</button>
              <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
      </form>
</div>
</div>


